<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <!--JQUERY-->
    <script src="/JQuery/jquery-3.2.1.min.js"></script>
    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css"/>
    <script src="/bootstrap/js/bootstrap.js"></script>

    <!--Preloader-->
    <link rel="stylesheet" href="/css/nprogress.css"/>
    <script src="/js/nprogress.js"></script>

    <!--Angular JS-->
    <script src="/app/lib/angular.min.js"></script>
    <script src="/app/lib/angular-route.min.js"></script>

    <!--Angular Controller -->
    <script src="/app/controller/app.js"></script>
    <script src="/app/controller/main-controller.js"></script>
    <script src="/app/controller/home-controller.js"></script>
    <script src="/app/controller/dialog-controller.js"></script>
    <script src="/app/controller/other-home-controller.js"></script>


    <!--CUSTOM-->
    <link rel="stylesheet" href="/css/main-css.css"/>
    <script src="/js/main-js.js"></script>
    <script src="/js/my-js.js"></script>
    <script src="/js/validators.js"></script>


    <style>
        body {
            background: url(http://samsung-wallpapers.com/uploads/allimg/130630/1-130630100210.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>



</head>
<body ng-controller="MainController" ng-app="RootApp" data-ng-cloak="">


<div id="header">
    <div id="head-navbar" class="navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="div-white">
                <a id="brand" class="navbar-brand curs">Evolution
                    <span><img style="width: 20px; height: 20px" src="/img/brand.gif"/></span>
                </a>
            </div>
            <div class="callapse navbar-collapse div-white">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#!/">
                            <span class="glyphicon glyphicon-home"> Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="/user/edit/{{auth_id}}">
                            <span class="glyphicon glyphicon-cog"> Profile</span>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a style="cursor: pointer" class="dropdown-toggle" data-toggle="dropdown">
                            <!--${authUser.login}-->
                            <!--${fn:substring(authUser.login,0 , 20)}-->
                            <span class="glyphicon glyphicon-log-out"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/logout" class="black">Exit</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br/><br/>  <br/>
    <div style="display: none" id="side" class="sidebar-nav-fixed affix col-md-3 col-lg-2 col-sm-3 col-xs-3">
        <div class="col-sm-10 col-md-9 col-lg-10 col-xs-12 sidebar block-background">
            <ul class="nav nav-sidebar">
                <div id="userPanel" class="div-white">

                    <hr/>
                    <!--<li>-->
                    <!--<a href="/feed/${authUser.id}/get/view">&#45;&#45;%>-->
                    <!--<span class="glyphicon glyphicon-list-alt"></span> News-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<hr/>-->
                    <li>
                        <a href="/user/search">
                            <span class="glyphicon glyphicon-search"></span> Search
                        </a>
                    </li>
                    <hr/>
                    <li>
                        <a href="">
                            <span class="glyphicon glyphicon-user"></span> Friends
                        </a>
                    </li>
                    <hr/>
                    <li>
                        <a href="/im/">
                            <span class="glyphicon glyphicon-envelope"></span> Message
                        </a>
                    </li>
                    <hr/>
                </div>
                <div id="admin-panel" sec:authorize="hasRole('ROLE_ADMIN')">
                    <div id="showAdminPanel" class="div-white">
                        <li><a onclick="adminPanel()" class="curs"><span class="glyphicon glyphicon-arrow-down"></span> Admin panel</a></li>
                    </div>
                    <div id="adminPanel" style="display:none;" class="div-white">
                        <hr/>
                        <li>
                            <a href="/user/role/admin"><span class="glyphicon glyphicon-king"></span>
                                Admins
                            </a>
                        </li>
                        <hr/>
                        <li>
                            <a href="/user/role/user"><span class="glyphicon glyphicon-pawn"></span>
                                Users
                            </a>
                        </li>
                    </div>
                    <hr/>
                </div>
            </ul>
        </div>
    </div>

</div>

<div id="content" class="ng-view">

</div>

<script th:inline="javascript">
angular.module('RootApp')
//.constant('user_id', [[${id}]])
.constant('auth_id', [[${auth_id}]]);
</script>


</body>
</html>